* {
  margin: 0;
  padding: 0;
  webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #000;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .6s;
}

.root-loading-os-logo {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}