@keyframes rootIn {
  0% {
    background-color: #000000;
  }

  100% {
    background-color: #000d41;
  }
}

* {
  margin: 0;
  padding: 0;
  webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #000;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: rootIn;
  animation-duration: .6s;
  animation-fill-mode: forwards;
}

.root-loading-os-logo {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}